In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Import Data file from Data Wrangling Process

df = pd.read_csv('Image Values.csv')

df.head()

   Unnamed: 0   Image Name Image Value
0           0  Below_A (1)           A
1           1  Front_A (1)           A
2           2   Left_A (1)           A
3           3  Right_A (1)           A
4           4  Below_A (2)           A

In [3]:
df2 = df[(df['Image Name'].str.contains("Below"))] #| (df['Image Name'].str.contains("Front"))]

In [4]:
df2 = df2.reset_index()

In [5]:
df2

      index  Unnamed: 0    Image Name Image Value
0         0           0   Below_A (1)           A
1         4           4   Below_A (2)           A
2         8           8   Below_A (3)           A
3        12          12   Below_A (4)           A
4        16          16   Below_A (5)           A
...     ...         ...           ...         ...
1035   4140        4140  Below_Z (36)           Z
1036   4144        4144  Below_Z (37)           Z
1037   4148        4148  Below_Z (38)           Z
1038   4152        4152  Below_Z (39)           Z
1039   4156        4156  Below_Z (40)           Z

[1040 rows x 4 columns]

# Apply pandas.get_dummies to convert categorical data to numerical

In [6]:
# categorical_cols = ['A','B','C','D']

In [7]:
# df2 = pd.get_dummies(df,columns = categorical_cols)

In [8]:
# import keras

# from keras.layers import Dense, Dropout, Flatten

# from keras.utils import to_categorical
# from keras.preprocessing import image
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt
# from sklearn.model_selection import train_test_split
# from keras.utils import to_categorical

# from keras.models import Sequential
# from keras.layers import Dense

In [9]:
# # Dependencies
# import numpy as np
# import tensorflow as tf

# os.environ['KMP_DUPLICATE_LIB_OK']='True'

# from tensorflow import keras

# from tensorflow.keras.applications.vgg19 import (
#     VGG19, 
#     preprocess_input, 
#     decode_predictions
# )

# from tensorflow.keras.models import Sequential
# from keras.layers import Conv2D, MaxPooling2D
# tf.compat.v1.reset_default_graph()

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D
from tensorflow.keras.layers import MaxPooling2D
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras.preprocessing import image
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm
import numpy as np

In [11]:
train = df2

train_image = []
for i in tqdm(range(train.shape[0])):
    image_name = df2['Image Name'][i]
    img = f'C:/Bootcamp/Homework/proj3-team04/HGM-4/Below Images RGB/{image_name}.jpg'
    img = image.load_img(img,target_size=(28,28,3),color_mode = "rgb")
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)

100%|██████████████████████████████████████████████████████████████████████████████| 1040/1040 [00:34<00:00, 30.38it/s]

In [12]:
# Convert image arrays to numpy array

X = np.array(train_image)

In [13]:
y=train['Image Value'].values
#y = pd.get_dummies(y)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [15]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [16]:
# y = y_cat

In [17]:
y_train_cat = to_categorical(encoded_y_train)
y_test_cat = to_categorical(encoded_y_test)

In [18]:
# num_inputs = 4160
# num_hidden_units = 1641
# num_classes = 26

In [19]:
# y_train = pd.get_dummies(y_train.ravel())

In [20]:
# y_train_cat = pd.get_dummies(y_train).values
# y_test_cat = pd.get_dummies(y_test).values

In [21]:
y_train.shape

(832,)

In [22]:
X_train.shape

(832, 28, 28, 3)

In [23]:
model = Sequential()
model.add(Conv2D(26, kernel_size=(3, 3),activation='relu',input_shape=(28, 28, 3)))
model.add(Conv2D(256, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
#model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(1000, activation='relu'))
#model.add(Dropout(0.5))
model.add(Dense(26, activation='softmax'))

In [24]:
# model = Sequential()
# dense_layer = Dense(units = num_hidden_units, input_dim = num_inputs, activation = 'relu')
# output_layer = Dense(units = 26, activation ='sigmoid')
# model.add(dense_layer)
# model.add(output_layer)

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 26, 26, 26)        728
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 24, 24, 256)       60160
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 256)       0
_________________________________________________________________
flatten (Flatten)            (None, 36864)             0
_________________________________________________________________
dense (Dense)                (None, 1000)              36865000
_________________________________________________________________
dense_1 (Dense)              (None, 26)                26026
=================================================================
Total params: 36,951,914
Trainable params: 36,951,914
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [27]:
model.fit(X_train, y_train_cat, epochs=10, validation_data=(X_test, y_test_cat))

Epoch 1/10
26/26 [==============================] - 10s 385ms/step - loss: 4.2105 - accuracy: 0.0325 - val_loss: 3.2573 - val_accuracy: 0.0240
Epoch 2/10
26/26 [==============================] - 10s 370ms/step - loss: 3.2355 - accuracy: 0.0637 - val_loss: 3.2505 - val_accuracy: 0.0481
Epoch 3/10
26/26 [==============================] - 10s 368ms/step - loss: 3.0500 - accuracy: 0.1250 - val_loss: 3.2128 - val_accuracy: 0.0625
Epoch 4/10
26/26 [==============================] - 10s 369ms/step - loss: 2.7321 - accuracy: 0.2115 - val_loss: 3.3217 - val_accuracy: 0.0529
Epoch 5/10
26/26 [==============================] - 11s 425ms/step - loss: 2.3093 - accuracy: 0.3317 - val_loss: 3.3381 - val_accuracy: 0.0913
Epoch 6/10
26/26 [==============================] - 11s 426ms/step - loss: 1.8473 - accuracy: 0.4555 - val_loss: 3.5014 - val_accuracy: 0.0962
Epoch 7/10
26/26 [==============================] - 11s 441ms/step - loss: 1.3445 - accuracy: 0.6058 - val_loss: 3.7060 - val_accuracy: 0.1394
Epoch 8/10
26/26 [==============================] - 11s 421ms/step - loss: 0.8972 - accuracy: 0.7272 - val_loss: 3.9638 - val_accuracy: 0.1442
Epoch 9/10
26/26 [==============================] - 10s 398ms/step - loss: 0.5499 - accuracy: 0.8546 - val_loss: 4.4197 - val_accuracy: 0.1538
Epoch 10/10
26/26 [==============================] - 10s 370ms/step - loss: 0.3794 - accuracy: 0.8990 - val_loss: 4.8612 - val_accuracy: 0.1106

In [28]:
encoded_predictions = model.predict_classes(X_test[:20])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

WARNING:tensorflow:From <ipython-input-28-d4105e9f786f>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [29]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels    : {(y_test[:20])}")

Predicted classes: ['F' 'C' 'F' 'T' 'P' 'K' 'C' 'C' 'C' 'M' 'P' 'N' 'V' 'T' 'S' 'Z' 'S' 'W'
 'S' 'P']
Actual Labels    : ['D' 'P' 'E' 'A' 'Q' 'X' 'H' 'I' 'M' 'J' 'Q' 'N' 'V' 'T' 'G' 'B' 'T' 'V'
 'I' 'P']